.*

# Git stuff.
!.git*

# Configurations.
!.babelrc
!.bowerrc
!.eslintrc
!.postcssrc
!.stylelintrc
!.browserslistrc
!.router.php
# Vendor plugins.
node_modules/

# Ignore any files and folders in project root.
dist/**
# Wait, except of folders.
!dist/**/
!dist/**/fonts/*
!dist/**/images/*
# Hm, except of ".php" files on any nesting level.
!dist/**/*.php
